.citydata{
    width: 350px;
    height: 55px;
    margin-left: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(55, 55, 55);
    background-color: 	#ffdcce;
    box-shadow: 0 0 2px 1px rgb(218, 217, 217);
    border-radius: 7px;
    text-decoration: none;
}
.citydata h4{
    font-size: 22px;
    font-weight: 400;
    padding: 10px;
}