h6{
    font-size: 17px;
    font-weight: 400; 
}

p{
    font-size: 16px;
    font-weight: 200;
}
#outerbox{
    width: 250px;
    display: flex;
    justify-content: space-between;
}
.country{
    height: 40px;
    width: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.language{
    height: 40px;
    width: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.language button{
    height: 30px;
    width: 75px;
    border: none;
    border-radius: 7px;
}